/ejercicios_taller2/nbproject/private/
/ejercicios_taller2/build/
/pruebalista/pruebalista/build/
/pruebalista/pruebalista/nbproject/private/
/proeycto/nbproject/private/
/proeycto/build/
/ProyectoViernes/nbproject/private/
/ProyectoViernes/build/